/* 
* {
    border: 1px solid red;
} */

.btnagregar {
    background-color: rgb(0, 30, 255);
    border: 1px solid rgb(0, 30, 255);
    color: #fff;
    border-radius: 30px;
    display: inline-block;
    margin: 0 auto;
    width: 200px;
    height: 50px;
    font-size: 1em;
    transition: 0.3s;
}

.btnagregar:hover {
    background-color: rgb(0, 26, 171);
}

.btncancelar {
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(0, 27, 231);
    color: rgb(0, 0, 0);
    border-radius: 30px;
    display: inline-block;
    margin: 0 auto;
    width: 200px;
    height: 50px;
    font-size: 1em;
    transition: 0.3s;
}
.btncancelar:hover {
    background-color: rgb(206, 212, 255);
    color: rgb(107, 107, 107);
}

.palabratxt {
    text-transform: lowercase;
    /* position: absolute; */
    width: 500px;
    height: 200px;
    left: 15%;
    top: 168px;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 150%;
    justify-content: baseline;
    resize: none;
    color: #0A3871;
    background: transparent;
    border: none;
}



.areabtn, .areatexto {
    text-align: center;
}